<h1 class="races__title">Races</h1>

<ul class="list-unstyled">
  <%= for race <- @races do %>
    <li class="races__name">
      <a href="<%= races_path(@conn, :show, race["original_name"]) %>">
        <%= race["original_name"] %>
      </a>
    </li>
  <% end %>
</ul>
